﻿* {
    padding: 0;
    margin: 0;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}

#titlePanel {
    width: 100%;
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%)
}

.container > p {
    color: #cdbfe3;
}

.container > h2 {
    color: #fff;
}

.heightPlaceholder {
    float:left;
    width:100%;
}

.Panel{
    width:90%;
    margin:0 auto;
    display: none;
}

#beginPanel{
    text-align:center;
}

#aspect {
    color: #333;
}

#question {
    color: #999;
}

.btn-info {
    /*width: 250px;*/
    margin-top:10px;
}

#choices {
    text-align:center;
}

.choiceContainer > p{
    display: none;
}

.col-sm-4 {
    float:none;
    width:90%;
    text-align:left;
    margin:0 auto;
}